@import url('https://fonts.googleapis.com/css?family=Comfortaa:100,200,300,400,500,600,700');

/*--------------------------------------------------HTML*/

html {
    height: 100%;
}

/*--------------------------------------------------Body*/

body {
    font-family: "Comfortaa", sans-serif;
    background-color: #42CAFD;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*--------------------------------------------------Header*/

header {
    height: 3rem;
    line-height: 3rem;
    background: #5C2751;
    color: #F0AD4E;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.1em;
}

/*--------------------------------------------------Main*/

.main {
    color: #ffffff;
    text-align: center;
}

.question {
    margin: 4rem 0 4rem 0;
}

.answer-btns .btn {
    color: #ffffff;
    margin: 5px 0px 5px 0px;
}

/*--------------------------------------------------Footer*/
/* Used the following youtube-video to get my footer to the bottom of the page: https://www.youtube.com/watch?v=yc2olxLgKLk */

footer {
    margin-top: auto;
    background: #5C2751;
    color: #F0AD4E;
    text-align: center;
}